html, body {
  font-family: sans;
}

.centertext { text-align:center;}

.border { border: 1px solid black; }


ol, ul {
  list-style: none outside none;
}

.main {
  width: 800px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.canvas-container {
  margin:auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid black;
}

